{% extends 'olltv_layout_edit.html' %}
{% load url %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    Xbills - Olltv {% trans 'edit' %} [{{ user.login }}]
{% endblock %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <a href="{% url 'core:index' %}" class="section">{% trans 'Logins' %}</a>
    <i class="right angle icon divider"></i>
    <a href="{% url 'core:client' uid %}" class="section">{{ client.login }}</a> (UID: {{ uid }})
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'User info' %}</div>
{% endblock %}
{% block olltv_content %}
    <table class="ui small compact very basic table">
        <tbody>
            <tr>
                <th>
                    <i class="folder icon"></i> {% trans 'Index' %}
                </th>
                <td>{{ user_info.response.data.index }}</td>
            </tr>
            <tr>
                <th>
                    <i class="folder icon"></i> {% trans 'Account' %}
                </th>
                <td>{{ user_info.response.data.account }}</td>
            </tr>
            <tr>
                <th>
                    <i class="folder icon"></i> {% trans 'Registration date' %}
                </th>
                <td>{{ user_info.response.data.registration_date }}</td>
            </tr>
            <tr>
                <th>
                    <i class="folder icon"></i> {% trans 'Email' %}
                </th>
                <td>{{ user_info.response.data.email }}</td>
            </tr>
            <tr>
                <th>
                    <i class="folder icon"></i> {% trans 'Gender' %}
                </th>
                <td>{{ get_account_info.gender }}</td>
            </tr>
            <tr>
                <th>
                    <i class="folder icon"></i> {% trans 'Name' %}
                </th>
                <td>{{ get_account_info.lastname }} {{ get_account_info.firstname }}</td>
            </tr>
        </tbody>
    </table>
{% endblock olltv_content %}