{% extends 'layout_edit.html' %}
{% load i18n %}
{% load staticfiles %}
{% load url %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                <div class="page-header text-center">
                    <h4><i class="fa fa-cog"></i> {% trans 'User Dhcp' %}</h4>
                </div>
                <br/>
                <form class="form-horizontal" method="post" name="dv_form">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group form-group-sm">
                                <label for="hostname" class="col-sm-4 control-label">{% trans 'Host Name' %}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="hostname" name="hostname" placeholder="{% trans 'Host Name' %}" value="{{ change_dhcp.hostname }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-group-sm">
                                <label for="networks" class="col-sm-4 control-label">{% trans 'Networks' %}</label>
                                <div class="col-sm-8">
                                    <select name='networks' id='networks' class='form-control'>
                                        {% for net in net_dhcp %}
                                            <optgroup label="{{ net.name }}"></optgroup>
                                            <option value="{{ net.id }}">IP: {% ip_convert net.network %} Mask: {% ip_convert net.mask %}</option>
                                        {% endfor %}
                                    </select>
                                    <script>
                                        $("#networks option[value=" + {{ change_dhcp.network }} + "]").attr('selected', 'true')
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-group-sm">
                                <label for="ip" class="col-sm-4 control-label">{% trans 'IP' %}</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        {% if change_dhcp.ip %}
                                            <input title="{% trans 'IP' %}" type="text" class="form-control" id="ip" name="ip" placeholder="IP" value="{% ip_convert change_dhcp.ip %}">
                                        {% else %}
                                        <input title="{% trans 'IP' %}" type="text" class="form-control" id="ip" name="ip" placeholder="IP" value="0.0.0.0">
                                        {% endif %}
                                        <span class="input-group-addon">
                                            <input id="auto_select" onchange="se" title="{% trans 'Auto Select' %}" type="checkbox" name="auto_select">
                                        </span>
                                        <script>
                                            var se = $('#auto_select').change(function(){
                                                if ($('#auto_select').is(':checked')){
                                                    $('#ip').attr('disabled', true);
                                                } else {
                                                    $('#ip').attr('disabled', false);
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-group-sm">
                                <label for="mac" class="col-sm-4 control-label">{% trans 'Mac' %}</label>
                                <div class="col-sm-8">
                                    {% if change_dhcp.mac %}
                                        <input type="text" class="form-control" id="mac" name="mac" placeholder="{% trans 'Mac' %}" value="{{ change_dhcp.mac }}">
                                    {% else %}
                                        <input type="text" class="form-control" id="mac" name="mac" placeholder="{% trans 'Mac' %}" value="00:00:00:00:00:00">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-group-sm">
                                <label for="svlan" class="col-sm-4 control-label">{% trans 'Server Vlan' %}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="svlan" name="svlan" placeholder="{% trans 'Server Vlan' %}" value="{{ change_dhcp.server_vid }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group form-group-sm">
                                <label for="cvlan" class="col-sm-4 control-label">{% trans 'Client Vlan' %}</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="cvlan" name="cvlan" placeholder="{% trans 'Client Vlan' %}" value="{{ change_dhcp.vid }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <input class="hide" name="uid" value="{{ user.id }}">
                    <input type="submit" name="dhcp_submit" class="btn btn-primary btn-xs center-block" value="{% trans 'Change' %}">
                </form>
            </div>
        </div>
    </div>
    {% if host %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <table class="ui black table table-striped table-hover table-condensed">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Login</th>
                                        <th>IP</th>
                                        <th>Hostname</th>
                                        <th>netwirk_name</th>
                                        <th>MAC</th>
                                        <th>{% trans '-' %}</th>
                                        <th>{% trans '-' %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for s in host %}
                                    <tr>
                                        <td>{{ s.id }}</td>
                                        <td>{{ user.login }}</td>
                                        <td>{% ip_convert s.ip %}</td>
                                        <td>{{ s.hostname }}</td>
                                        <td>{{ s.nas }}</td>
                                        <td>{{ s.mac }}</td>
                                        <td><a href="{% url 'ipdhcp:user_dhcp' s.uid %}?change={{ s.id }}"><span class='glyphicon glyphicon-pencil'></span></a></td>
                                        <td><a href="{% url 'ipdhcp:user_dhcp' s.uid %}?delete={{ s.id }}"><span class='glyphicon glyphicon-trash'></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-botton">
                            <span class="badge">{{ host.count }}</span>
                            {% trans 'All' %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
