{% extends 'layout.html' %}
{% load url %}
{% load i18n %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'Company' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Company list' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <div class="ui {{ request.user.theme }} segment">
                <div class="ui sticky fluid pagination menu">
                    <div class="header item">{% trans 'Export' %}</div>
                    <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                        <i class="gamepad icon"></i>
                        Xml
                    </a>
                    <a href="?{% url_replace request 'csv' '1' %}" class="item">
                        <i class="video camera icon"></i>
                        Csv
                    </a>
                    <div class="right menu">
                        <a href="{% url 'core:company_add' %}" class="ui item"><i class="add user icon"></i> {% trans 'Add company' %}</a>
                    </div>
                    {% if pagin.items.paginator.num_pages > 1 %}
                        <div class="header floated item">{% trans 'Pagination' %}</div>
                        {% if company.number == 1 %}
                            <div class="disabled item">
                                1
                            </div>
                        {% endif %}
                        {% if company.has_previous %}
                            <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                            {% if company.number > 7 %}
                                <div class="disabled item">
                                    ...
                                </div>
                            {% endif %}
                        {% endif %}
                        {% for p in page_list %}
                            {% if p == 1 %}
                            {% else %}
                                {% if company.number == p %}
                                    <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                {% else %}
                                    <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if company.has_next %}
                            {% if company.number < company.paginator.num_pages|add:"-5" %}
                                <div class="disabled item">
                                    ...
                                </div>
                                <a class="item" href="?{% url_replace_page request 'page' company.paginator.num_pages %}" aria-label="Next">
                                    {{ company.paginator.num_pages }}
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
                {% if company %}
                    {% include 'table_company.html' %}
                {% else %}
                    <div class="ui horizontal divider"></div>
                    <a class="ui red ribbon label">{% trans 'Company not found' %}</a>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
