{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans 'System info' %}</div>
                <div class="panel-body">
                    {% for cpu in cpu_load_list %}
                        <div class="row">
                            <div class="col-sm-4">
                                {% trans 'CPU load' %}:
                            </div>
                            <div class="col-sm-8">
                                <div class="progress">
                                    {% if cpu > 80 %}
                                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ cpu }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cpu }}%">
                                            {{ cpu }}%
                                        </div>
                                    {% elif cpu > 60 %}
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="{{ cpu }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cpu }}%">
                                            {{ cpu }}%
                                        </div>
                                    {% else %}
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{ cpu }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ cpu }}%">
                                            {{ cpu }}%
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>

{% endblock %}
