{% extends 'base.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block layout %}
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="well well-sm">
            <i class="fa fa-user fa-fw"></i> <a href="{% url 'core:client' user.id %}">{{ user.login }}</a> (UID: {{ user.id }})
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    {% url 'core:client' user.id as user_base_url %}
                    {% if request.get_full_path == user_base_url %}
                        <li class="active"><a href="{% url 'core:client' user.id %}"><i class="fa fa-info" aria-hidden="true"></i> {% trans 'Base' %}</a></li>
                    {% else %}
                        <li class=""><a href="{% url 'core:client' user.id %}"><i class="fa fa-info" aria-hidden="true"></i> {% trans 'Base' %}</a></li>
                    {% endif %}
                    {% url 'core:client_payments' user.id as user_payments_url %}
                    {% if request.get_full_path == user_payments_url %}
                        <li class="active"><a href="{% url 'core:client_payments' user.id %}">{% trans 'Payments' %}</a></li>
                    {% else %}
                        <li><a class="" href="{% url 'core:client_payments' user.id %}">{% trans 'Payments' %}</a></li>
                    {% endif %}
                    {% url 'core:client_fees' user.id as user_fees_url %}
                    {% if request.get_full_path == user_fees_url %}
                        <li class="active"><a href="{% url 'core:client_fees' user.id %}">{% trans 'Fees' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'core:client_fees' user.id %}">{% trans 'Fees' %}</a></li>
                    {% endif %}
                    {% if olltv_module %}
                        {% url 'olltv:user_change' user.id as user_olltv_url %}
                        {% if request.get_full_path == user_olltv_url %}
                            <li class="active"><a href="{% url 'olltv:user_change' user.id %}"><i class="fa fa-television" aria-hidden="true"></i> {% trans 'OLLTV' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'olltv:user_change' user.id %}"><i class="fa fa-television" aria-hidden="true"></i> {% trans 'OLLTV' %}</a></li>
                        {% endif %}
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#tab4default" data-toggle="tab">Default 4</a></li>
                            <li><a href="#tab5default" data-toggle="tab">Default 5</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block extra_content %}
    {% endblock %}
{% endblock %}