{% extends 'base.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block layout %}
    <div class="row">
        <div class="column">
            <div class="ui blue mini segment">
                <table class="ui blue small very compact selectable striped table">
                <thead>
                    <tr>
                        <th><a href="?{% url_replace request 'order_by' 'id' %}">{% trans 'ID' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'name' %}">{% trans 'Name' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'count' %}">{% trans 'Count' %}</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in servers_list %}
                        {% if s.clients_count > 0 %}
                            <tr>
                                <td>{{ s.id }}</td>
                                <td>{{ s.server }}</td>
                                <td>{{ s.clients_count }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
    </div>
{% endblock %}