{% load i18n %}
{% load url %}
{% load staticfiles %}
<table id="table_group" class="ui blue very compact selectable striped table">
    <thead>
        <tr>
            <th><a href="?{% url_replace request 'order_by' 'id' %}">{% trans 'ID' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'name' %}">{% trans 'Name' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'bill__deposit' %}">{% trans 'Description' %}</a></th>
            <th><a href="?{% url_replace request 'order_by' 'credit' %}">{% trans 'Users' %}</a></th>
            <th>-</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody>
        {% for g in pagin.items %}
        <tr>
            <td>{{ g.id }}</td>
            <td>{{ g.name }}</td>
            <td>{{ g.descr }}</td>
            <td></td>
            <td>
                <form method="post" action="{% url 'core:group_edit' g.id %}">{% csrf_token %}
                    <button name="edit" value="{{ g.id }}" type="submit" class="ui orange mini basic button">
                        <i class="fa fa-edit"></i>
                    </button>
                </form>
            </td>
            <td>
                <form method="post" onsubmit="return confirm('{% trans 'Warning! You can not revert you changes!!!' %}')">{% csrf_token %}
                    <button name="delete" value="{{ g.id }}" type="submit" class="ui orange mini basic button" onclick="if(!confirm('{% trans 'Remove admin ' %}{{ g.name }}?')){return false;}">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
