{% extends 'layout.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block breadcrumbs %}
    <i class="right angle icon divider"></i>
    <div class="active section">{% trans 'Logins' %}</div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'Clients list' %}
{% endblock %}
{% block menu_clients %}
    <a href="{% url 'core:clients' %}" class="item"><i class="block add user icon"></i> {% trans 'Add' %}</a>
    {% check_module 'olltv' as check_module_olltv %}
    {% if check_module_olltv %}
        <a href="{% url 'olltv:index' %}" class="item"><i class="block desktop icon"></i> {% trans 'OLLTV' %}</a>
    {% endif %}
    {% check_module 'claims' as check_module_claims %}
    {% if check_module_claims %}
        <a href="{% url 'claims:claims' %}" class="item"><i class="comment icon"></i> {% trans 'Claims' %} </a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column">
            <div class="ui {{ request.user.theme }} segment">
            {% for f in get_fields %}
                <dt>{{f.label|capfirst}}</dt>
                    <dd>
                        {{f.value|escape|urlize|linebreaks}}
                    </dd>
            {% endfor %}
                <div class="ui stackable menu">
                    <div class="header item">{% trans 'Sort By' %}</div>
                    <a href="?{% url_replace request 'users_status' '0' %}" class="item {% if 'users_status=0' in request.get_full_path %}active{% elif not request.GET or 'order_by' in request.GET and not 'users_status' in request.GET %}active{% endif %}">
                        {% trans 'All' %} <div class="floating ui blue label">{{ all }}</div>
                    </a>
                    <a href="?{% url_replace request 'users_status' '1' %}" class="item {% if 'users_status=1' in request.get_full_path %}active{% endif %}">
                        {% trans 'Active' %}
                    </a>
                    <a href="?{% url_replace request 'users_status' '2' %}" class="item {% if 'users_status=2' in request.get_full_path %}active{% endif %}">
                        {% trans 'Debtors' %} <div class="floating ui blue label">{{ debtors }}</div>
                    </a>
                    <a href="?{% url_replace request 'users_status' '3' %}" class="item {% if 'users_status=3' in request.get_full_path %}active{% endif %}">
                        {% trans 'Disabled' %} <div class="floating ui blue label">{{ disabled }}</div>
                    </a>
                    <a href="?{% url_replace request 'users_status' '4' %}" class="item {% if 'users_status=4' in request.get_full_path %}active{% endif %}">
                        {% trans 'Deleted' %} <div class="floating ui blue label">{{ deleted }}</div>
                    </a>
                    <a href="?{% url_replace request 'users_status' '5' %}" class="item {% if 'users_status=5' in request.get_full_path %}active{% endif %}">
                        {% trans 'Credit' %} <div class="floating ui blue label">{{ users_credit }}</div>
                    </a>
                    <div class="header item">{% trans 'Export' %}</div>
                    <a href="?{% url_replace request 'xml' '1' %}" target="_blank" class="item popup" data-content="{% trans 'Will be opened in new window' %}">
                        <i class="gamepad icon"></i>
                        Xml
                    </a>
                    <a href="?{% url_replace request 'csv' '1' %}" class="item">
                        <i class="video camera icon"></i>
                        Csv
                    </a>
                    <div class="right menu">
                        <a href="{% url 'core:client_add' %}" class="ui item"><i class="add user icon"></i> {% trans 'Add user' %}</a>
                    </div>
                </div>
                {% if pagin.items %}
                    <table class="ui blue very compact selectable striped table">
                        <thead>
                            <tr class="">
                                <th><a href="?{% url_replace request 'order_by' 'login' %}">{% trans 'Login' %}</a></th>
                                <th><a href="?{% url_replace request 'order_by' 'user_pi__fio' %}">{% trans 'FIO' %}</a></th>
                                <th><a href="?{% url_replace request 'order_by' 'bill__deposit' %}">{% trans 'Deposit' %}</a></th>
                                <th><a href="?{% url_replace request 'order_by' 'credit' %}">{% trans 'Credit' %}</a></th>
                                <th><a href="?{% url_replace request 'order_by' 'disabled' %}">{% trans 'Login status' %}</a></th>
                                <th><a href="?{% url_replace request 'order_by' 'deleted' %}">{% trans 'Deleted' %}</a></th>
                                <th>{% trans '-' %}</th>
                                <th>{% trans '-' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in pagin.items %}
                            <tr>
                                <td><a href="{% url 'core:client' user.id %}">{{ user.login }}</a></td>
                                <td>{{ user.user_pi.fio }}</td>
                                {% if user.bill.deposit < 0 %}
                                    <td><span style="color: red">{{ user.bill.deposit }}</span></td>
                                {% else %}
                                    <td>{{ user.bill.deposit }}</td>
                                {% endif %}
                                {% if user.credit > 0 %}
                                    <td><span style="color: green">{{ user.credit }}</span></td>
                                {% else %}
                                    <td>{{ user.credit }}</td>
                                {% endif %}
                                {% if user.disable %}
                                    <td><span style="color: red">{% trans 'Disabled' %}</span></td>
                                {% else %}
                                    <td><span style="color: green">{% trans 'Active' %}</span></td>
                                {% endif %}
                                {% if user.deleted %}
                                    <td><span style="color: orange">{% trans 'Yes' %}</span></td>
                                {% else %}
                                    <td><span style="color: green">{% trans 'No' %}</span></td>
                                {% endif %}
                                <td><a href="{% url 'core:client_payments' user.id %}"><i class="fa fa-euro"></i></a></td>
                                <td><a href="{% url 'core:client_fees' user.id %}"><i class="fa fa-remove"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th colspan="2">
                                    {% if pagin.items.paginator.num_pages > 1 %}
                                        <div class="ui pagination menu">
                                            {% if pagin.items.number == 1 %}
                                                <div class="disabled item">
                                                    1
                                                </div>
                                            {% endif %}
                                            {% if pagin.items.has_previous %}
                                                <a href="?{% url_replace_page request 'page' '1' %}" class="item">1</a>
                                                {% if pagin.items.number > 7 %}
                                                    <div class="disabled item">
                                                        ...
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            {% for p in pagin.page_list %}
                                                {% if p == 1 %}
                                                {% else %}
                                                    {% if pagin.items.number == p %}
                                                        <a class="item active" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                                    {% else %}
                                                        <a class="item" href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if pagin.items.has_next %}
                                                {% if pagin.items.number < pagin.items.paginator.num_pages|add:"-5" %}
                                                    <div class="disabled item">
                                                        ...
                                                    </div>
                                                    <a class="item" href="?{% url_replace_page request 'page' pagin.items.paginator.num_pages %}" aria-label="Next">
                                                        {{ pagin.items.paginator.num_pages }}
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                {% else %}
                    <p>{% trans 'Clients not found' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}