{% extends 'layout_edit.html' %}
{% load url %}
{% load i18n %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
      <li class=""><a href="{% url 'core:index' %}"><i class="fa fa-dashboard fa-fw"></i>{% trans 'Dashboard' %}</a></li>
      <li class=""><a href="{% url 'core:client' uid %}"><i class="fa fa-user fa-fw"></i>{{ user.login }} (UID: {{ user.id }})</a></li>
      <li class="active">{% trans 'Payments' %}</li>
    </ol>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="well well-sm">
                {% if payments.paginator.num_pages > 1 %}
                    <ul class="list-group" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
                        <li class="list-group-item">
                            <ul class="pagination pagination-sm">
                                {% if payments.has_previous %}
                                    <li>
                                        <a href="?{% url_replace_page request 'page' '1' %}" aria-label="Previous">
                                            <span aria-hidden="true">1</span>
                                        </a>
                                    </li>
                                    {% if payments.number > 2 %}
                                        <li class="disabled">
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">...</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% for p in page_list %}
                                    {% if payments.number == p %}
                                        <li class="active">
                                            <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                        </li>
                                    {% else %}
                                        <li class="">
                                            <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if payments.has_next %}
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">...</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?{% url_replace_page request 'page' payments.paginator.num_pages %}" aria-label="Next">
                                            <span aria-hidden="true">{{ payments.paginator.num_pages }}</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="disabled">
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                {% if payments %}
                {% include 'table_payments.html' %}
                {% else %}
                    {% trans 'Payments not found' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}