{% extends 'layout_edit.html' %}
{% load i18n %}
{% load staticfiles %}
{% load url %}
{% block extra_js %}
{% endblock %}
{% block extra_css %}
{% endblock %}
{% block breadcrumbs %}
    <i class="right angle icon divider" xmlns="http://www.w3.org/1999/html"></i>
    <a href="{% url 'core:clients' %}" class="section">{% trans 'Logins' %}</a>
    <i class="right angle icon divider"></i>
    <div class="active section"> <a href="{% url 'core:client' uid %}">{{ client.login }}</a> (UID: {{ uid }}) </div>
{% endblock %}
{% block breadcrumbs_sub_header %}
    {% trans 'User Info' %}
{% endblock %}
{% block content %}
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">First</a>
        <a class="item" data-tab="second">Second</a>
        <a class="item" data-tab="third">Third</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        <form class="ui form" method="post">{% csrf_token %}
            <div class="ui tiny stacked segment">
                {# fields 1 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Credit' %}</label>
                        {{ client_form.credit }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Start credit date' %}</label>
                        {{ client_form.credit_date }}
                    </div>

                </div>
                {# fields 2 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Groups' %}</label>
                        {{ client_form.gid }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Company' %}</label>
                        {{ client_form.company }}
                    </div>
                </div>
                {# fields 3 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Discount' %} (%)</label>
                        {{ client_form.reduction }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Start discount date' %}</label>
                        {{ client_form.reduction_date }}
                    </div>
                </div>
                {# fields 4 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Activation' %} (%)</label>
                        {{ client_form.activate }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Expired' %}</label>
                        {{ client_form.expire }}
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        {{ client_form.disabled }}
                        <label>{% trans 'Disable' %}</label>
                    </div>
                </div>
                <button class="tiny ui teal submit button" type="submit">{% trans 'Change' %}</button>
            </div>
        </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <form class="ui form" method="post">{% csrf_token %}
            <div class="ui tiny stacked segment">
                {# fields 1 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Credit' %}</label>
                        {{ dv_form.tp }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Start credit date' %}</label>
                        {{ client_form.credit_date }}
                    </div>

                </div>
                {# fields 2 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Groups' %}</label>
                        {{ client_form.gid }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Company' %}</label>
                        {{ client_form.company }}
                    </div>
                </div>
                {# fields 3 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Discount' %} (%)</label>
                        {{ client_form.reduction }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Start discount date' %}</label>
                        {{ client_form.reduction_date }}
                    </div>
                </div>
                {# fields 4 #}
                <div class="two fields">
                    <div class="field">
                        <label>{% trans 'Activation' %} (%)</label>
                        {{ client_form.activate }}
                    </div>
                    <div class="field">
                        <label>{% trans 'Expired' %}</label>
                        {{ client_form.expire }}
                    </div>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        {{ client_form.disabled }}
                        <label>{% trans 'Disable' %}</label>
                    </div>
                </div>
                <button class="tiny ui teal submit button" type="submit">{% trans 'Change' %}</button>
            </div>
        </form>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        Third
    </div>
{% endblock %}
