{% extends 'layout_edit.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block extra_css %}
{% endblock %}
{% block extra_js %}

{% endblock %}
{% block extra_scripts %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 table-custom">
            <div class="pag-nav">
                <nav class="center-block">
                    <ul class="pagination pagination-sm">
                        {% if statistics.has_previous %}
                            <li>
                                <a href="?{% url_replace_page request 'page' '1' %}" aria-label="Previous">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            {% if statistics.number > 2 %}
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">...</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% for p in page_list %}
                            {% if statistics.number == p %}
                                <li class="active">
                                    <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                </li>
                            {% else %}
                                <li class="">
                                    <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if statistics.has_next %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">...</span>
                                </a>
                            </li>
                            <li>
                                <a href="?{% url_replace_page request 'page' statistics.paginator.num_pages %}" aria-label="Next">
                                    <span aria-hidden="true">{{ statistics.paginator.num_pages }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <table class="table table-hover table-striped table-condensed">
                <thead>
                    <tr class="info">
                        <th><a href="?{% url_replace request 'order_by' 'start' %}">{% trans 'Start Sessions' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'duration' %}">{% trans 'Duration' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'sent' %}">{% trans 'Sent' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'received' %}">{% trans 'Received' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'ip' %}">{% trans 'IP' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'cid' %}">{% trans 'CID' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'tarif_plan' %}">{% trans 'Tarif plan' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'sum' %}">{% trans 'Sum' %}</a></th>
                        <th><a href="?{% url_replace request 'order_by' 'nas' %}">{% trans 'Nas' %}</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in statistics %}
                    <tr>
                        <td>{{ s.start }}</td>
                        <td>{{ s.duration }}</td>
                        <td>{% sizify s.sent  %}</td>
                        <td>{% sizify s.recv  %}</td>
                        <td>{% ip_convert s.ip %}</td>
                        <td>{{ s.CID }}</td>
                        <td>{{ s.tp_id }}</td>
                        <td>{{ s.sum }}</td>
                        <td>{{ s.nas_info.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pag-nav">
                <nav class="center-block">
                    <ul class="pagination pagination-sm">
                        {% if statistics.has_previous %}
                            <li>
                                <a href="?{% url_replace_page request 'page' '1' %}" aria-label="Previous">
                                    <span aria-hidden="true">1</span>
                                </a>
                            </li>
                            {% if statistics.number > 2 %}
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">...</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% for p in page_list %}
                            {% if statistics.number == p %}
                                <li class="active">
                                    <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                </li>
                            {% else %}
                                <li class="">
                                    <a href="?{% url_replace_page request 'page' p %}">{{ p }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if statistics.has_next %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">...</span>
                                </a>
                            </li>
                            <li>
                                <a href="?{% url_replace_page request 'page' statistics.paginator.num_pages %}" aria-label="Next">
                                    <span aria-hidden="true">{{ statistics.paginator.num_pages }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
