{% extends 'layout.html' %}
{% load i18n %}
{% load url %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="column">
            <form class="ui form" method="POST">{% csrf_token %}
                <div class="ui {{ request.user.style }} {{ request.user.theme }} segment">
                    <div class="ui {{ request.user.style }} horizontal segments">
                        <div class="ui segment">
                            <div class="required field {% if client_form.login.errors %}error{% endif %}">
                                <label>{% trans 'Login' %}</label>
                                {{ client_form.login }}
                                {% if client_form.login.errors %}
                                    <div class="ui pointing red basic label">
                                        {{ client_form.login.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                <label>{% trans 'Groups' %}</label>
                                {{ client_form.gid }}
                            </div>
                            <div class="field">
                                <label>{% trans 'Company' %}</label>
                                {{ client_form.company }}
                            </div>
                        </div>
                        <div class="ui segment">
                            <div class="field">
                                <label>{% trans 'FIO' %}</label>
                                {{ userpiform.fio }}
                            </div>
                            <div class="field">
                                <label>{% trans 'Phone' %}</label>
                                {{ userpiform.phone }}
                            </div>
                            <div class="field">
                                <label>{% trans 'Phone 2' %}</label>
                                {{ userpiform.phone2 }}
                            </div>
                            <div class="field">
                                <label>{% trans 'FIO' %}</label>
                                {{ userpiform.district }}
                            </div>
                            <div class="field">
                                <label>{% trans 'Phone' %}</label>
                                {{ userpiform.street}}
                            </div>
                            <div class="field">
                                <label>{% trans 'Phone 2' %}</label>
                                {{ userpiform.location }}
                            </div>
                            <div class="field">
                                <label>{% trans 'Phone 2' %}</label>
                                {{ userpiform.kv }}
                            </div>
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            {{ client_form.disable }}
                            <label>{% trans 'Disable' %}</label>
                        </div>
                    </div>
                    <button class="tiny ui teal submit button" name="add_client" value="add" type="submit">{% trans 'Add' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
