{% load i18n %}
{% load staticfiles %}
{% load url %}
{% load project %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Xbills v0.0.7{% endblock %}</title>
{#    <link href="{% theme request '/css/bootstrap.css' %}" rel="stylesheet" />#}
{#    <script src="{% static 'custom/js/pace.min.js' %}"></script>#}
{#    <link href="{% static 'custom/css/pace.css' %}" rel="stylesheet" />#}
    <link href="{% static 'semantic-ui/semantic.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom/css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom/css/toastr.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'custom/css/style.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    {% block jquery %}
        <script src="{% static 'custom/js/jquery-2.2.4.min.js' %}"></script>
    {% endblock %}
    <script src="{{ STATIC_URL }}js/ws4redis.js" type="text/javascript"></script>
    <script src="{% static 'custom/js/jquery.cookie.js' %}"></script>
{#    <script src="{% static 'custom/js/bootstrap.min.js' %}"></script>#}
    <script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
    <script src="{% static 'custom/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'custom/js/toastr.js' %}"></script>
    <script src="{% static 'custom/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'custom/js/custom.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
    {% block extra_scripts %}
    {% endblock %}
</head>
<body id="content" class="texture">
    {% block wrapper %}
{#        <nav class="navbar navbar-new navbar-default navbar-static" id="top_navbar">#}
{#            <div class="container-fluid">#}
{#                <div class="navbar-header">#}
{#                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">#}
{#                        <span class="sr-only">Toggle navigation</span>#}
{#                        <span class="icon-bar"></span>#}
{#                        <span class="icon-bar"></span>#}
{#                        <span class="icon-bar"></span>#}
{#                    </button>#}
{#                    <a class="navbar-brand" href="#">{% version %}</a>#}
{#                </div>#}
{#                <div class="collapse navbar-collapse js-navbar-collapse">#}
{#                    <ul class="nav navbar-nav my-nav">#}
{#                        <li><a href="{% url 'core:index' %}" class="a-nav"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %} </a></li>#}
{#                        <li class="dropdown dropdown-large">#}
{#                            <a id="client-menu" class="dropdown-toggle a-nav" data-toggle="dropdown" href="#"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> {% trans 'Menu' %} <span class="fa fa-caret-down"></span></a>#}
{#                            <ul class="dropdown-menu dropdown-menu-large row">#}
{#                                <li class="col-sm-3">#}
{#                                    <ul>#}
{#                                        <li class="dropdown-header"><i class="fa fa-users fa-fw"></i> {% trans 'Clients' %} </li>#}
{#                                        <li><a href="{% url 'core:clients' %}"><i class="fa fa-user fa-fw"></i> {% trans 'Logins' %} </a></li>#}
{#                                        <li><a href="#">Example</a></li>#}
{#                                        <li><a href="#">Aligninment options</a></li>#}
{#                                        <li><a href="#">Headers</a></li>#}
{#                                        <li><a href="#">Disabled menu items</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="col-sm-3">#}
{#                                    <ul>#}
{#                                        <li class="dropdown-header">Button groups</li>#}
{#                                        <li><a href="#">Basic example</a></li>#}
{#                                        <li><a href="#">Button toolbar</a></li>#}
{#                                        <li><a href="#">Sizing</a></li>#}
{#                                        <li><a href="#">Nesting</a></li>#}
{#                                        <li><a href="#">Vertical variation</a></li>#}
{#                                        <li class="divider"></li>#}
{#                                        <li class="dropdown-header">Button dropdowns</li>#}
{#                                        <li><a href="#">Single button dropdowns</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="col-sm-3">#}
{#                                    <ul>#}
{#                                        <li class="dropdown-header">{% trans 'Configuration' %}</li>#}
{#                                        <li><a href="{% url 'core:administrators' %}"><i class="fa fa-users fa-fw"></i>{% trans 'Administrators' %}</a></li>#}
{#                                        <li><a href="{% url 'core:nas' %}"><i class="fa fa-server fa-fw"></i>{% trans 'Access servers' %}</a></li>#}
{#                                        {% check_module 'ipdhcp' as check_module_ipdhcp %}#}
{#                                        {% if check_module_ipdhcp %}#}
{#                                            <li><a href="{% url 'ipdhcp:dhcps' %}"><i class="fa fa-external-link fa-fw"></i> {% trans 'IP Dhcp' %} </a></li>#}
{#                                        {% endif %}#}
{#                                        <li><a href="#">Checkboxes and radio addons</a></li>#}
{#                                        <li class="dropdown-header">Navs</li>#}
{#                                        <li><a href="#">Tabs</a></li>#}
{#                                        <li><a href="#">Pills</a></li>#}
{#                                        <li><a href="#">Justified</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li class="col-sm-3">#}
{#                                    <ul>#}
{#                                        <li class="dropdown-header">Navbar</li>#}
{#                                        <li><a href="#">Default navbar</a></li>#}
{#                                        <li><a href="#">Buttons</a></li>#}
{#                                        <li><a href="#">Text</a></li>#}
{#                                        <li><a href="#">Non-nav links</a></li>#}
{#                                        <li><a href="#">Component alignment</a></li>#}
{#                                        <li><a href="#">Fixed to top</a></li>#}
{#                                        <li><a href="#">Fixed to bottom</a></li>#}
{#                                        <li><a href="#">Static top</a></li>#}
{#                                        <li><a href="#">Inverted navbar</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="{% url 'core:search' %}" class="a-nav"><i class="fa fa-search fa-fw"></i>{% trans 'Search' %}</a></li>#}
{#                    </ul>#}
{#                    <ul class="nav navbar-nav navbar-right">#}
{#                        {% check_module 'chat' as check_module_chat %}#}
{#                        {% if check_module_chat %}#}
{#                            <li><a href="{% url 'chat:broadcast_chat' %}"><i class="fa fa-weixin fa-fw" aria-hidden="true"></i></a></li>#}
{#                        {% endif %}#}

{#                        <li class="dropdown">#}
{#                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">#}
{#                                {% get_current_language as LANGUAGE_CODE %}#}
{#                                {% get_language_info for LANGUAGE_CODE as lang %}#}
{#                                {% get_available_languages as LANGUAGES %}#}
{#                                {% get_language_info_list for LANGUAGES as languages %}#}
{#                                <i class="fa fa-language fa-fw" aria-hidden="true"></i>#}
{#                                {{ lang.name_local }}#}
{#                                <span class="caret"></span>#}
{#                            </a>#}
{#                                <ul class="dropdown-menu">#}
{#                                <form name="ui" action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#                                <input name="next" type="hidden" value="{{ request.get_full_path }}" />#}
{#                                <input name="language" type="hidden"/>#}
{#                                {% for language in languages %}#}
{#                                    <li><a href="#" onclick="document.ui.language.value='{{ language.code}}'; document.ui.submit();"><img src="{% static 'custom/images/' %}{{ language.code }}.png"> {{ language.name_local }}</a></li>#}
{#                                {% endfor %}#}
{#                                </form>#}
{#                                </ul>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw" aria-hidden="true"></i>{{ request.user.login }} <span class="caret"></span></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li><a href="#">Action</a></li>#}
{#                                <li><a href="#">Another action</a></li>#}
{#                                <li><a href="#">Something else here</a></li>#}
{#                                <li role="separator" class="divider"></li>#}
{#                                <li><a href="{% url 'core:logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>{% trans 'Logout' %}</a></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div><!-- /.nav-collapse -->#}
{#            </div>#}
{#        </nav>#}
{#            <div class="ui red vertical sidebar menu">#}
{#              <a class="item">#}
{#                <i class="home icon"></i>#}
{#                Home#}
{#              </a>#}
{#              <a class="active item">#}
{#                <i class="heart icon"></i>#}
{#                Current Section#}
{#              </a>#}
{#              <a class="item">#}
{#                <i class="facebook icon"></i>#}
{#                Like us on Facebook#}
{#              </a>#}
{#              <div class="item">#}
{#                <b>More</b>#}
{#                <div class="menu">#}
{#                  <a class="item">About</a>#}
{#                  <a class="item">Contact Us</a>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{##}

{#    <div style="" class="ui visible inverted labeled left vertical inline thin sidebar menu">#}
{#        <a class="item">#}
{#            {% trans 'Clients' %} <i class="block users icon"></i>#}
{#        </a>#}
{#        <div class="item">#}
{#            <a href="{% url 'core:clients' %}" class="header">{% trans 'Logins' %} <i class="block user icon"></i></a>#}
{#            {% block menu_clients %}#}
{#            {% endblock %}#}
{#            <a href="{% url 'core:clients' %}" class="header">{% trans 'Companies' %} <i class="block building outline icon"></i></a>#}
{#            <a href="{% url 'core:clients' %}" class="header">{% trans 'Groups' %} <i class="block object group icon"></i></a>#}
{#        </div>#}
{#        <a href="{% url 'core:fees' %}" class="item">#}
{#            <i class="external icon"></i> {% trans 'Fees' %}#}
{#        </a>#}
{#        <a href="{% url 'core:payments' %}" class="item">#}
{#            <i class="payment icon"></i> {% trans 'Payments' %}#}
{#        </a>#}
{#        <div class="item">#}
{#            <div class="menu">#}
{#                <div class="item">#}
{#                    <div class="header">Products</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Enterprise</a>#}
{#                        <a class="item">Consumer</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">CMS Solutions</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Rails</a>#}
{#                        <a class="item">Python</a>#}
{#                        <a class="item">PHP</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Hosting</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Shared</a>#}
{#                        <a class="item">Dedicated</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Support</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">E-mail Support</a>#}
{#                        <a class="item">FAQs</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="item">#}
{#            <div class="menu">#}
{#                <div class="item">#}
{#                    <div class="header">Products</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Enterprise</a>#}
{#                        <a class="item">Consumer</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">CMS Solutions</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Rails</a>#}
{#                        <a class="item">Python</a>#}
{#                        <a class="item">PHP</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Hosting</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Shared</a>#}
{#                        <a class="item">Dedicated</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Support</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">E-mail Support</a>#}
{#                        <a class="item">FAQs</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="item">#}
{#            <div class="menu">#}
{#                <div class="item">#}
{#                    <div class="header">Products</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Enterprise</a>#}
{#                        <a class="item">Consumer</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">CMS Solutions</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Rails</a>#}
{#                        <a class="item">Python</a>#}
{#                        <a class="item">PHP</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Hosting</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">Shared</a>#}
{#                        <a class="item">Dedicated</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <div class="header">Support</div>#}
{#                    <div class="menu">#}
{#                        <a class="item">E-mail Support</a>#}
{#                        <a class="item">FAQs</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <a class="item">#}
{#            <i class="block layout icon"></i>#}
{#            Topics#}
{#        </a>#}
{#        <a class="item">#}
{#            <i class="smile icon"></i>#}
{#            Friends#}
{#        </a>#}
{#        <a class="item">#}
{#            <i class="calendar icon"></i>#}
{#            History#}
{#        </a>#}
{#    </div>#}
        <div class="ui stackable small menu">
            <div class="header item">
                XBills {% version %}
            </div>
            {% url 'core:index' as dashboard %}
            {% if request.get_full_path == dashboard %}
                <a href="{% url 'core:index' %}" class="active item"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %} </a>
            {% else %}
                <a href="{% url 'core:index' %}" class="item"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %} </a>
            {% endif %}
            <a class="item menu-toggle-button" onclick="hideSidebar()"><i class="list layout icon"></i>{% trans 'Menu' %}</a>
            <a href="{% url 'core:search' %}" class="item popup" data-content="{% trans 'Search user by criteria' %}"><i class="search icon"></i>{% trans 'Search' %}</a>
            <a href="{% url 'core:chat' %}" class="item popup" data-content="{% trans 'Enter to chat' %}"><i class="comments outline icon"></i>{% trans 'Chat' %}</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_current_language_bidi as LANGUAGE_BIDI %}
                    {% get_language_info for LANGUAGE_CODE as lang %}
                    <i class="flag outline icon"></i>{{ lang.name_local }}<i class="dropdown icon"></i>
                    <div class="menu">
                        {% for lang in LANGUAGES %}
                            <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                                <input type="hidden" name="language" value="{{ lang.0 }}">
                                {% if request.LANGUAGE_CODE == lang.0 %}
                                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;" class="active item">
                                        {% if lang.0 == 'uk' %}
                                            <i class="ua flag"></i> {{ lang.1 }}
                                        {% elif lang.0 == 'en' %}
                                            <i class="us flag"></i> {{ lang.1 }}
                                        {% else %}
                                            <i class="{{ lang.0 }} flag"></i> {{ lang.1 }}
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;" class="item">
                                        {% if lang.0 == 'uk' %}
                                            <i class="ua flag"></i> {{ lang.1 }}
                                        {% elif lang.0 == 'en' %}
                                            <i class="us flag"></i> {{ lang.1 }}
                                        {% else %}
                                            <i class="{{ lang.0 }} flag"></i> {{ lang.1 }}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </form>
                        {% endfor %}
                    </div>
                </div>
                <div class="item">
                    <div class="ui transparent icon input">
                        <input placeholder="Search..." type="text">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stackable grid" style="padding: 5px">
            <div class="row">
                <div class="two wide column">
                    <div id="left_menu" class="ui stackable sticky vertical menu">
                        <div class="item">
                            {% url 'core:clients'  as clients_url %}
                            {% if clients_url == request.get_full_path %}
                                <a class="header active" href="{% url 'core:clients' %}">{% trans 'Logins' %} <i class="block users icon"></i></a>
                            {% else %}
                                <a class="header" href="{% url 'core:clients' %}">{% trans 'Logins' %} <i class="block users icon"></i></a>
                            {% endif %}
                            <div class="menu">
                            {% block menu_clients %}
                            {% endblock %}
                            </div>
                            <a class="header">{% trans 'Companies' %} <i class="block building outline icon"></i></a>
                            <div class="menu">
                            </div>
                            <a href="{% url 'core:clients' %}" class="header">{% trans 'Groups' %} <i class="block object group icon"></i></a>
                        </div>
                      <div class="item">
                        <div class="header">CMS Solutions</div>
                        <div class="menu">
                          <a class="item">Rails</a>
                          <a class="item">Python</a>
                          <a class="item">PHP</a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="header">Hosting</div>
                        <div class="menu">
                          <a class="item">Shared</a>
                          <a class="item">Dedicated</a>
                        </div>
                      </div>
                      <div class="item">
                        <div class="header">Support</div>
                        <div class="menu">
                          <a class="item">E-mail Support</a>
                          <a class="item">FAQs</a>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="fourteen wide column">
                    <div class="ui stackable grid">
                        <div class="row">
                            <div class="column">
                                <h4 class="ui header">
                                    <i class="dashboard icon"></i>
                                    <div class="content">
                                        <div class="ui breadcrumb">
                                            <a href="{% url 'core:index' %}" class="section">{% trans 'Dashboard' %}</a>
                                            {% block breadcrumbs %}
                                            {% endblock %}
                                        </div>

                                        <div class="sub header">
                                            {% block breadcrumbs_sub_header %}
                                                {% trans 'System info and monitoring' %}
                                            {% endblock %}
                                        </div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                        {% block layout %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <script>
            function refresh2() {
                setTimeout(function(){
                    for (glob in global) {
                        global[glob]()
                    }
                    refresh2();
                }, 10000);
            }

            $(document).ready(function(){
                for (glob in global) {
                    global[glob]()
                }
                refresh2();
            });
        </script>
        <script src="{% static 'custom/js/chat.js' %}"></script>
    {% endblock %}
</body>
</html>
