{% load i18n %}
{% load staticfiles %}
{% load url %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Xbills v0.1{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}
    {% block jquery %}
        <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
    {% block extra_scripts %}
    {% endblock %}
</head>
<body>
    {% block wrapper %}
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static" id="top_navbar">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Xbills v0.0.4</a>
                </div>
                <div class="collapse navbar-collapse js-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'core:index' %}"><i class="fa fa-dashboard fa-fw"></i> {% trans 'Dashboard' %}</a></li>
                        <li class="dropdown dropdown-large">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'core:clients' %}"><i class="fa fa-bars fa-fw" aria-hidden="true"></i> {% trans 'Menu' %} <span class="fa fa-caret-down"></span></a>
                            <ul class="dropdown-menu dropdown-menu-large row">
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header"><i class="fa fa-users fa-fw"></i> {% trans 'Clients' %}</li>
                                        <li><a href="{% url 'core:clients' %}"><i class="fa fa-user fa-fw"></i> {% trans 'Logins' %}</a></li>
                                        {% check_module 'olltv' as check_module_olltv %}
                                        {% if check_module_olltv %}
                                            <li><a href="{% url 'olltv:index' %}"><i class="fa fa-television fa-fw"></i> {% trans 'OLLTV' %}</a></li>
                                        {% endif %}
                                        <li class="disabled"><a href="#">How to use</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Dropdowns</li>
                                        <li><a href="#">Example</a></li>
                                        <li><a href="#">Aligninment options</a></li>
                                        <li><a href="#">Headers</a></li>
                                        <li><a href="#">Disabled menu items</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Button groups</li>
                                        <li><a href="#">Basic example</a></li>
                                        <li><a href="#">Button toolbar</a></li>
                                        <li><a href="#">Sizing</a></li>
                                        <li><a href="#">Nesting</a></li>
                                        <li><a href="#">Vertical variation</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Button dropdowns</li>
                                        <li><a href="#">Single button dropdowns</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Input groups</li>
                                        <li><a href="#">Basic example</a></li>
                                        <li><a href="#">Sizing</a></li>
                                        <li><a href="#">Checkboxes and radio addons</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Navs</li>
                                        <li><a href="#">Tabs</a></li>
                                        <li><a href="#">Pills</a></li>
                                        <li><a href="#">Justified</a></li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <ul>
                                        <li class="dropdown-header">Navbar</li>
                                        <li><a href="#">Default navbar</a></li>
                                        <li><a href="#">Buttons</a></li>
                                        <li><a href="#">Text</a></li>
                                        <li><a href="#">Non-nav links</a></li>
                                        <li><a href="#">Component alignment</a></li>
                                        <li><a href="#">Fixed to top</a></li>
                                        <li><a href="#">Fixed to bottom</a></li>
                                        <li><a href="#">Static top</a></li>
                                        <li><a href="#">Inverted navbar</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </nav>
            <div class="container-fluid">
                {% block layout %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</body>
</html>